
 <div class="container">

        <div class="row">

            <div class="col-md-3">
            
                  <p class="lead">Category</p>
                <div class="list-group" style="opacity: 0.8">
                    <a href="#/homes" class="list-group-item">Homes</a>
                    <a href="#/cars" class="list-group-item">Cars</a>
                    <a href="#/pets" class="list-group-item">Pets</a>
                </div>
            </div>
           
           
<div class="col-md-5">
    
    <div>  
        
        <form role="form">
            
        <br style="clear:both">
       
                    <h3 style="margin-bottom: 25px; text-align: center;">Public announcement</h3>
    				<div class="form-group">
						<input type="text" class="form-control" id="heading" name="heading" placeholder="Heading" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="subheading" name="subheading" placeholder="Sub heading" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="price" name="Price" placeholder="Price" required>
					</div>
                    <div class="form-group">
                    <textarea class="form-control" type="textarea" id="textannoun" placeholder="Text announcement" maxlength="140" rows="7"></textarea>
                    <!--    <span class="help-block"><p id="characterLeft" class="help-block " style="color:black">You have reached the limit</p></span> -->                   
                    </div>
                    <div class="form-group">
						<input type="text" class="form-control" id="url" name="url" placeholder="url" required>
					</div>
              
        <a type="button" id="submit" name="submit" class="btn btn-primary pull-right">  Submit Form  </a>
   
        <div class="input-group" style="opacity:0.8">
                            <div class="input-group-btn search-panel">
                              
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                               
                    	<span id="search">Filter by</span> <span class="caret"></span>
                    </button>
                   
                                <ul class="publicannoun dropdown-menu" role="menu">
                                    <li><a href="#/publicannoun">Homes</a></li>
                                    <li><a href="#/publicannoun">Cars</a></li>
                                    <li><a href="#/publicannoun">Pets</a></li>
                                    <!--  <li class="divider"></li>-->
                                    <!-- <li><a href="#all">Anything</a></li>-->
                                </ul>
                  
                            </div>
        </div>
        </form>
        
    </div>
   
</div>
 


</div>
 
   <script src="./assets/scripts/publicannoun.js"></script>
  
