    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Category</p>
                <div class="list-group" style="opacity: 0.8">
                    <a href="#/homes/1" class="list-group-item">Homes</a>
                    <a href="#/cars/1" class="list-group-item">Cars</a>
                    <a href="#/pets/1" class="list-group-item">Pets</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row carousel-holder">
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="../../assets/img/af5e6dc714d4657a798118f156c05092.jpg" alt=""  style="width: 850px; height: 400px">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="../../assets/img/4PCYP2N.jpg" alt=""  style="width: 850px; height: 400px">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="../../assets/img/HT_Cat_Huskies_2_ER_160120_12x5_1600.jpg" alt="" style="width: 850px; height: 400px" >
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="https://static.pexels.com/photos/106399/pexels-photo-106399.jpeg" alt=""  style="width: 300px; height: 120px">
                            <div class="caption">
                                <h4 class="pull-right">12345 $</h4>
                                <h4><a href="#/homes/announcement/-KiuhyU3P4PmzbE2VCHb">Sale hose</a>
                                </h4>
                                <p>2 bed end terrace house for sale.</p>
                            </div>
                            <div class="ratings">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="https://static.pexels.com/photos/259597/pexels-photo-259597.jpeg" alt="" style="width: 300px; height: 120px">
                            <div class="caption">
                                <h4 class="pull-right">187945 $</h4>
                                <h4><a href="#/homes/announcement/-KiuiOKfbKT0iT23DgkZ">Sale old house</a>
                                </h4>
                                <p>Summary Positioned within a no through road in a popular residential area.</p>
                            </div>
                            <div class="ratings">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/BMW_Z3_%285746806085%29.jpg/800px-BMW_Z3_%285746806085%29.jpg" alt="" style="width: 300px; height: 120px">
                            <div class="caption">
                                <h4 class="pull-right">1979 $</h4>
                                <h4><a href="#/cars/announcement/-KiujRi75AMm4enqkaGN">Sale BMW</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://pop.h-cdn.co/assets/cm/15/05/54cb1a4276b40_-_retro-car-flops-01-0913-lgn.jpg" alt="" style="width: 300px; height: 120px">
                            <div class="caption">
                                <h4 class="pull-right">123 $</h4>
                                <h4><a href="#/cars/announcement/-KiujLN1PBDu0R6LADwD">Sale retro Ford</a>
                                </h4>
                                <p>Airbeg ABS. This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://static.baubau.bg/resources/haski.jpg" alt="" style="width: 300px; height: 120px">
                            <div class="caption">
                                <h4 class="pull-right">123 $</h4>
                                <h4><a href="#/pets/announcement/-KiuikHN8HsZ8KSmirh1">Sale dog</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://www.petsfoto.com/wp-content/uploads/2011/03/Charming-Rabbits13.jpg" alt="" style="width: 300px; height: 120px">
                            <div class="caption">
                                <h4 class="pull-right">187 $</h4>
                                <h4><a href="#/pets/announcement/-Kiuj3KA0N63oVgBgKmt">Sale rabbits</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
        <hr>
    </div>


 