<div class="form-area">
    <form role="form" class=".form-inline" action="#/sendamsg/{{id}}/{{category}}" method="POST">
        <h2 style="margin-bottom: 25px; text-align: center;">Leave A Message</h2>

        <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>

        <button class=".btn-info">Send</button>
    </form>
</div>