  
   <ul class="nav navbar-nav pull-right">
                    <li><a class="regiser-btn" href="#/register">Register</a></li>
                    <li><a class="login-btn" href="#/login">Login</a></li>
                    <li><a href="#/login">Logout</a></li>
                </ul>
