<div id="msgs"></div>

<div class="row">
    <div class="col-md-8">
        <div class="form-area">
            <form role="form" class=".form-inline" action="#/addmsg/{{msgId}}" method="POST">
                <h2 style="margin-bottom: 25px; text-align: center;">Add A Message</h2>

                <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Message" maxlength="40" rows="7"></textarea>

                <button class=".btn-info">Send</button>
            </form>
        </div>
    </div>
</div>