
    	     <div class="container">
        <div class="row">
            <div class="col-md-3">
                  <p class="lead">Category</p>
                <div class="list-group" style="opacity: 0.8">
                    <a href="#/homes" class="list-group-item">Homes</a>
                    <a href="#/cars" class="list-group-item">Cars</a>
                    <a href="#/pets" class="list-group-item">Pets</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row carousel-holder">
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                             <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="../../assets/img/af5e6dc714d4657a798118f156c05092.jpg" alt=""  style="width: 850px; height: 400px">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="../../assets/img/46b119247ec972507278b6e3dc0c98d6.jpg" alt=""  style="width: 850px; height: 400px">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="../../assets/img/HT_Cat_Huskies_2_ER_160120_12x5_1600.jpg" alt="" style="width: 850px; height: 400px" >
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>								
				<div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Register to Your Account</h1><br>
				  <form action="#/register" method="POST">
						<p>	<p></p><input type="username" name="username" autofocus placeholder="username" class="input-username" id="username"></p>
					<p>	<input type="email" name="email" autofocus placeholder="email" class="input-email" id="email"></p>
				<p>	<input type="password" name="password" placeholder="Password" class="input-password" id="password"></p>
				 <div class="warning hide">
      <div class="alert alert-danger" role="alert" style="color:blue;background-color:cornflowerblue; width:58%">
        <strong style="font-size:2rem">Oops...</strong>
        <p id="danger-message-container" style="font-weight:600";></p>
      </div>
    </div>
                <button class="btn-register">Submit</button>
				  </form>
				</div>
			</div>
	